.discount-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.discount__brella {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-top: 213px;
}

.discount__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
    width: 450px;
}

.discount__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-top: 34px;
    width: 435px;
}

.discount__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #214E41;
    border-bottom: 2px solid #214E41;
    margin-top: 24px;
}